h2 {
  height: 20px;
  margin: 10px;
}

.profile-contact-info {
  font-size: 18px;
  /* margin-left: 20px; */
  margin-top: 0;
  margin-left: 5px;
}

.divLeft {
  width: 100px;
  display: block;
  float: left;
  border: 2px solid red;
  width: 48%;
  height: 95%;
}

.divProfileContact {
  display: flex;
  margin-top: 5px;
  margin-left: 20px;
  height: 20px;
}

.divRight {
  height: 95%;
  display: flex;
  justify-content: center;
  float: right;
  border: 2px solid red;
  width: 48%;
  background-color: blue;
  color: white;
  padding-right: 1cm;
}

.topmenu {
  color: lightgray;
  background-color: #483355;
  margin: 25px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 1mm;
}

.header-container {
  height: 100px;
  background-color: green;
}
body {
  margin: 10px;
}
